{% extends "base_generic_without_sidebar.html" %}

{% block content %}
<p>Select a Mirror </p>
<form action='/Intrepid/SourceGen' method=post>
	<select name='mirror_id'>
		{% for mirror in mirrors %}
			<option value='{{ mirror }}'>{{ mirror }}							
		{% endfor %}	
	</select>
	<br>
	<br>
	<input type="checkbox" name="include_src" value="{{ IncludeSource }}">包含源代码<br>
	<br>
	<textarea cols = 85 rows =15>{{ Output }}</textarea><br>
	<input type="submit" value=Generate>
</form>
{% endblock content %}