{% extends "base_generic.html" %}
{% block content %}

<a href='/'>Home</a>
<h3> {{ blog.title }} </a></h3>
<h5> Category:{{ blog.category.name }} Publish Date: {{ blog.date }}
<hr>
<p>{{ blog.content }}<br>
	
<font color=Red>Comments</font>
{% for comment in comments %}
<p> {{ comment.author }} publish at {{ comment.date }}:<br/>
<p>{{ comment.detail }}
{% endfor %}

<br/>
<form action='/comment/new' method=post>
	<input type=hidden value='{{ blog.key }}' name='blog_id'>
	Comments:<input type=text name='detail'><br>
	<input type='submit' value='Post'/>	
{% endblock %}