{% extends "base_generic.html" %}
{% block content %}
<div class="post">
	<div class="post-title">
		<h2> <a href='/blog/show/{{ blog.key }}'>{{ blog.title }} </a></h2>
		<span class="post-dates">Published at: {{ blog.date }} by {{blog.author}}</span>
		<!--<span class="post-comments">Category:{{ blog.category.name }}</span>  -->
	</div>
	<div class="entry">
		<p>{{ blog.content }}
	</div>
</div>	
	
<font color=Red>Comments</font>
{% for comment in comments %}
<p> {{ comment.author }} publish at {{ comment.date }}:<br/>
<p>{{ comment.detail }}
{% endfor %}

<br/>
<form action='/comment/new' method=post>
	<input type=hidden value='{{ blog.key }}' name='blog_id'>
	Comments:<input type=text name='detail'><br>
	<input type='submit' value='Post'/>	
{% endblock %}