<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>HelloBlog</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<style type="text/css" media="screen">
			@import url(/styles/style.css);
	</style>
	</head>
	<body>
		<div id="logo">
			<h1><a href='/'>Hello blog </a></h1>
			<p>Blog on Google Apps Engine</p>
		</div>
		<div id="header">
			<div id="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/blog/aboutme">About Me</a></li>		
				</ul>
			</div>
		</div>
		<div id="page">			
			<div id="content">
				{% block content %} {% endblock %}
			</div>
			<div id="sidebar">
				{% block sidebar %} 
				<h2>RSS</h2>
				<!-- Feedsky FEED发布代码开始 -->
          <!-- FEED自动发现标记开始 -->
          <link title="RSS 2.0" type="application/rss+xml" href="http://feed.feedsky.com/HelloBlog" rel="alternate" />
          <!-- FEED自动发现标记结束 -->
          <a href="http://feed.feedsky.com/HelloBlog" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_sub_c1s17_d.gif" alt="feedsky" vspace="2"  style="margin-bottom:3px" ></a><br />
        <!-- Feedsky FEED发布代码结束 -->
        <h2>Category</h2>
        <ul id="cats">
        {% for cat in Categories %}
          <li>{{ cat.name }}({{ cat.blogs.count }})</li>
        {% endfor %}
        </ul>
        
        <h2>Recent Posts:</h2>
        <ul id='recent_post'>
        	{% for recent_blog in recent_blogs %}
        			<li><a href='/blog/show/{{ recent_blog.key }}'>{{ recent_blog.title }} </a></li>
        	{% endfor %}
        </ul>
        
        
        <h2>Other</h2>
        <ul>
        <li><a href='/admin'/>Admin</li>
        </ul>
				{% endblock %}
			</div>

			<div style="visibility:hidden; clear:both"> </div>
		</div>
		<div id="footer">
			<div id="footer_bg"></div>
			<div class="footer-about"></div>
			<hr class="clear" />
		</div>
		<div id="credits">
			<div class="alignleft">Designed By <a href="mailto:gm8pleasure@gmail.com">superwar3fan</a>.</div>
			<div class="alignright">Powered by <a href="http://www.python.org">Python</a>,<a href="http://www.appspot.com">GAE</a></div>
		</div>
	</body>
</html>
