{% extends "base_generic.html" %}
{% block content %}
<div class="post">
	<div class="post-title">
		<h2> <a href='/blog/show/{{ blog.key.id }}'>{{ blog.title }} </a></h2>
		<span class="post-dates">Published at: {{ blog.date }} by {{blog.author}}</span>
		<!--<span class="post-comments">Category:{{ blog.category.name }}</span>  -->
	</div>
	<div class="entry">
		<p>{{ blog.content }}
	</div>
	<h3 id="comments">Comments</h3>
	<ol>
			{% for comment in comments %}
			<li>
			<cite>{% if is_admin %}{% endif %}<p> {{ comment.author }} publish at {{ comment.date }}:</cite><br/>
			<p>{{ comment.detail }}
			</li>
			{% endfor %}
	</ol>
</div>		
<br/>
<h3 id="respond">Leave a Reply</h3>
<form action='/comment/new' method=post class="form">
	<input type=hidden value='{{ blog.key.id }}' name='blog_id'>
	<textarea class='text_area' name='detail' id='detail' rows="5" cols="40" ></textarea><br>
	<input type='submit' value='Post'/>	
</form>
{% endblock %}
