{% extends "base_generic.html" %}

{% block content %}
{% if is_admin %}<a href='/admin/blog/new'>New Blog</a> {% endif %} &nbsp;&nbsp;{% if is_admin %}<a href='/admin/category/new'>New Category</a>{% endif %}
{% for blog in Blogs %}
<div class="post">
	<div class="post-title">
		<h2> <a href='/blog/show/{{ blog.key }}'>{{ blog.title }} </a></h2>
		<span class="post-dates">Published at: {{ blog.date }} by {{blog.author}}</span>
		<!--<span class="post-comments">Category:{{ blog.category.name }}</span>  -->
	</div>
	<div class="entry">
		<p>{{ blog.content }}
	</div>
</div>	
{% endfor %}
{% endblock content %}
