{% extends "base_generic.html" %}
{% block sidebar %}
<ul id="cats">
{% for cat in Categories %}
  <li>{{ cat.name }} </li>
{% endfor %}
</ul>
{% endblock %}
{% block content %}

{% if is_logined %}<a href='/blog/new'>New Blog</a> {% endif %} &nbsp;&nbsp;{% if is_admin %}<a href='/category/new'>New Category</a>{% endif %}
{% for blog in Blogs %}
<h3> <a href='/blog/show/{{ blog.key }}'>{{ blog.title }} </a></h3>
<h5> Category:{{ blog.category.name }}&nbsp;&nbsp; {{blog.author}} Published at: {{ blog.date }}
<hr>
<p>{{ blog.content }}
{% endfor %}
{% endblock %}
